#dashboard {
	padding-bottom: 50px;
	display: inline-block;
}

#dashboard .item {
	display: inline-block;
}

#dashboard .item label {
	padding-left: 5px;
	padding-right: 5px;
}

#progress-out {
	margin-top: 50px;
	font-size: 4rem;
}